# Object files
*.o
*.mod

# Executable files
main
main.exe
a.out
a.exe

# File out
data.out
docs/html

# Test folder related stuff
__pycache__
.ipynb_checkpoints
octave-workspace

# GMSH-related files
*.msh
*.vtk

# Travis CI ssh key
.deploy_key
